<div class="container-fluid register-container" ng-controller="AppCtrl" >
  <div class="login-box form1">
    <div><p class="register-title">Log In</p></div>
      <fieldset class="register-input-container">
        <div class="register-input-item">
          <input type="email" name="username_login" id="username_login" class="user-name register-user-input" placeholder="User Email" ng-model="user.login" >
          <div id="login_name_error" class="val_error"></div>
        </div>
        <div class="register-input-item">
          <input type="password" name="password_login" id="password_login" class="user-password register-user-input" placeholder="Choose Password" ng-model="user.password">
          <div id="login_password_error" class="val_error" ng-modal="user.error">{{user.error}}</div> 
        </div>
      </fieldset>
      <fieldset class="login-button-container">
        <button class="login-button" id="loginOk" ng-click="loginCheck()">Login</button>
      </fieldset>
</div>
</body>
</html>
